<div class="navbar">
    <ul id = site>
      <li> <a class="logo" href="" > 
      <img src="assets/	LOGOMIN.png" alt="Home" width="91" height="19" border="0"> </a> </li>
      <li> <a class="derecha" href="#">Inicio</a> </li>
      <li> <a class="derecha" href="#">Otro</a> </li>
      <li> <a class="derecha" href="#">Login</a> </li>
    </ul>
</div>