html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  display: -ms-flexbox;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 0px;

}

.container {
  width: 1200px;
  font-family: 'Montserrat', 'Helvetica', Arial, sans-serif; font-weight: 100;
  margin: auto;
  position: relative;
  z-index: 2;
}

/* Navigation Bar*/

.navbar {
  background-color: #333;
  height: 70px;
  border-bottom: .25rem solid #00897B;
}

/* Style the links inside the navigation bar */
.navbar a {
    color: #f2f2f2;
    text-align: center;
    padding-top: 1px;
    padding-right: 14px;
    padding-bottom: 1px;
    padding-left: 14px;
    text-decoration: none;
    font-size: 17px;
}
li {
    float: left;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.material-icons{
  font-size: 60px;
}

.card{
  text-align: center;
  color: #666666;
  margin:30px;
  display:inline-block;
}

.my-wrapper{
  text-align: center;
}
.wrapper-header{
  text-align:center;
}

.container-header{
  top:-45px;
  text-align: center;
  z-index: 2;
  background-color:#333;
}

.container-header img{
  margin:auto;
}

.other-cards{
  position: relative;
  background-color:white;
  height:auto;
  z-index:2;
  font-family: 'Montserrat', 'Helvetica', Arial, sans-serif; font-weight: 100;
}
.center-it{
  text-align:center;
  margin: auto;
}
.services{
  position: relative;
  background-color:#51bcda;
  color:white;
  height:auto;
  z-index:2;
  font-family: 'Montserrat', 'Helvetica', Arial, sans-serif; font-weight: 100;
}

.blue-card{
  background-color:#51bcda;
  color:white;
  height:420px;
}
.blue-card img{
  width:300px;
  height:auto;
}
.footer-i{
  background-color:white;
  height:40px;
  position:relative;
  z-index:2;
}

h6{
  font-size:10px;
  font-weight:900;
}

.btn-primary {
  color: #fff;
  background-color: #A9B4C2;
   border-color: #A9B4C2;
}

.card-dashboard{
  border: solid;
  font-size: 70px;
  box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
  border-radius: 50px;
  width: 90%;
  color:#666666;
  font-weight: 900;
  text-align: center;
  margin:30px;
  display:inline-block;
  background-color: #fff;
}

.container-fluid {
  padding-right: 100px;
}

.box:hover {
  background-color: #D8D8D8;
  border-radius: 50px;
  box-shadow: 20px 20px 20px 20px rgba(46,61,73,0.15);
}

.dashboard {
  color: white;
  font-weight: 900;
  text-align: center;
  padding: 25px;
  background-color: #6E6E6E;
}

a,
a:focus,
a:hover {
  color: #6E6E6E;
}

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.contactUS {
  color: white;
  font-weight: 900;
  text-align: center;
  padding: 25px;
  background-color: #6E6E6E;
}

.DetallesC {
  color:  #6E6E6E;
  font-weight: 900;
  text-align: left;
  padding: 30px;
  background-color: white;
}

.EmailD {

}
#contact .card-ct:hover i,#contact .card-ct:hover h4 {
  color: #87d37c;
}

.card-ct{
 text-align: center;
  color: #666666;
  margin:30px;
  display:block;
}

.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}

.table-potential-client tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-potential-client tbody > tr > th {
  font-size: 20pt;
}

.table-potential-client tbody > tr > td {
  font-size: 16pt;
}

.toppad
{margin-top:20px;
}

.profile-panel{
  margin: 40px auto 0 auto;
}

.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}

/*Login*/

.form-signin {
  width: 100%;
  max-width: 480px;
  padding: 15px 30px;
  margin: auto;
  border-top:4px solid #00897B;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-control:focus{
	border-color: #00897b;
  outline: 0;
  box-shadow: none !important;
}
.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active{
  background-color:#00897B !important;
  border: #00897B !important;
}

th {
  text-align: center;
}

tr{
  text-align: center;
}

.myButton{
  width: 150px;
  height: 50px;
  margin-right: 25px;
  float: right;
}
