   html,
body {
  height: 100%;
  width:101%;
  overflow-x: hidden;
}

body {
  display: -ms-flexbox;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 0px;
 
}
.login:before {
  content: '';
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #4fbcda; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right,#333333, #4fbcda, #ffffff);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.container {
  width: 1200px;
  font-family: 'Montserrat', 'Helvetica', Arial, sans-serif; font-weight: 100;
  margin: auto;
  position: relative;
  z-index: 2;
}

.form-signin {
  width: 100%;
  max-width: 380px;
  padding: 15px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.3);
  color:#ffffff;
  border: 1px solid white;
  box-shadow: 0 4px 8px #000000;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Navigation Bar*/

.navbar {
    background-color: #333;
    overflow: hidden;
    z-index:3;
}

/* Style the links inside the navigation bar */
.navbar a {
    color: #f2f2f2;
    text-align: center;
    padding-top: 1px;
    padding-right: 14px;
    padding-bottom: 1px;
    padding-left: 14px;
    text-decoration: none;
    font-size: 17px;
}
li {
    float: left;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.material-icons{
  font-size: 60px;
}

.card{
  text-align: center;
  color: #666666;
  margin:30px;
  display:inline-block;
}

.my-wrapper{
  text-align: center;
}
.wrapper-header{
  text-align:center;
}

.container-header{
  position: relative;
  top:-45px;
  text-align: center;
  z-index: 2;
  background-color:#333;
}

.container-header img{
  margin:auto;
}

.other-cards{
  position: relative;
  background-color:white;
  height:auto;
  z-index:2;
  font-family: 'Montserrat', 'Helvetica', Arial, sans-serif; font-weight: 100;
}
.center-it{
  text-align:center;
  margin: auto;
}
.services{
  position: relative;
  background-color:#51bcda;
  color:white;
  height:auto;
  z-index:2;
  font-family: 'Montserrat', 'Helvetica', Arial, sans-serif; font-weight: 100;
}

.blue-card{
  background-color:#51bcda;
  color:white;
}
.blue-card img{
  width:300px;
  height:auto;
}
.footer-i{
  background-color:white;
  height:40px;
  position:relative;
  z-index:2;
}

h6{
  font-size:10px;
  font-weight:900;
}

.btn-primary {  
  color: #fff;
  background-color: #A9B4C2;
   border-color: #A9B4C2;
}
.container2 {
  width: 960px;
  height: 500px;
  margin: 50px auto;
  position: relative;
}

.card-dashboard{
  border: solid;
  font-size: 70px;
  box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
  border-radius: 50px;
  width: 90%; 
  color:#666666;
  font-weight: 900;
  text-align: center;
  margin:30px;
  display:inline-block;
  background-color: #fff;
}

.container-fluid {
  padding-right: 100px;
}

.box:hover {
  background-color: #D8D8D8;
  border-radius: 50px;
  box-shadow: 20px 20px 20px 20px rgba(46,61,73,0.15);
}

.dashboard {
  color: white;
  font-weight: 900;
  text-align: center;
  padding: 25px;
  background-color: #6E6E6E;
}

a,
a:focus,
a:hover {
  color: #fff;
}

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

.navbar {
  padding-left: 100px;
  padding-right: 150px;
}