
<div class = "Detalles de cliente">
  <div class="container2">
      <form class="form-in">
        <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <center><h1 class="h3 mb-3 font-weight-normal">  Detalles del cliente </h1> </center>
        <div class="row">
            <div class="col-md-6">
                <label>Email</label>
            </div>
            <div class="col-md-6">
                <p>kshitighelani@gmail.com</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <label>Teléfono</label>
            </div>
            <div class="col-md-6">
                <phone>+5218000000000</phone>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <label>Dirección</label>
            </div>
            <div class="col-md-6">
                <address>Eugenio Garza Sada 2501</address>
                <address>Col. Tecnológico</address>
                <address>Monterrey, MX</address>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <label>Servicio</label>
            </div>
            <div class="col-md-6">
                <p>20 Megas</p>
           </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <label>Último pago</label>
            </div>
            <div class="col-md-6">
                <p>Octubre 1, 2018</p>
           </div>
        </div>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Ok</button>
      </form>
  </div>
</div>
