<div class="dashboard">
  <h1>Dashboard</h1>
</div>

<div class="container-fluid">
  <div class="row">

    <div class="col-md-4 col-sm-4">
      <div class="card-dashboard" style="border-color: #ffff84">
      <div class="box" {{action "toCreate" preventDefault=false}}>
        <i class="material-icons" style="font-size: 70px; color: #ffff84">people</i>
        <div class="card-body">
          <h5 class="card-title">
            Crear nuevo cliente
          </h5>
        </div>
      </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-4">
      <div class="card-dashboard" style="border-color: #5ff4eb">
      <div class="box" {{action "toList" preventDefault=false}}>
        <i class="material-icons" style="font-size: 70px; color: #5ff4eb">people</i>
        <div class="card-body">
          <h5 class="card-title">Lista de clientes</h5>
        </div>
      </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-4">
      <div class="card-dashboard" style="border-color: #78b785">
      <div class="box">
        <i class="material-icons" style="font-size: 70px; color: #78b785">people</i>
        <div class="card-body">
          <h5 class="card-title">Clientes potenciales</h5>
        </div>
      </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-4">
      <div class="card-dashboard" style="border-color: #b38bff">
      <div class="box">
        <i class="material-icons" style="font-size: 70px; position: center; color: #b38bff">&#36;</i>
        <div class="card-body">
          <h5 class="card-title">Pagos de clientes</h5>
        </div>
      </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-4">
      <div class="card-dashboard" style="border-color: #aaaaff">
      <div class="box">
        <i class="material-icons" style="font-size: 70px; position: center; color: #aaaaff">&#9993;</i>
        <div class="card-body">
          <h5 class="card-title">Registro de pagos</h5>
        </div>
      </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-4">
      <div class="card-dashboard" style="border-color: #51cbce">
      <div class="box">
        <i class="material-icons" style="font-size: 70px; color: #51cbce">&#9881;</i>
        <div class="card-body">
          <h5 class="card-title">Instalación</h5>
        </div>
      </div>
      </div>
    </div>

  </div>
</div>

{{outlet}}
