
<div class="box1">
<div class="row">
  <div class="card" style="width: 15rem; text-align: center; color:#666666">
    <i class="material-icons" style="font-size: 25px; color: #51cbce">people</i>
    <div class="card-body">
      <h5 class="card-title">Crear nuevo cliente</h5>
    </div>
  </div>
</div>
</div>

<div class="box2">
<div class="row">
  <div class="card" style="width: 15rem; text-align: center; color:#666666">
    <i class="material-icons" style="font-size: 25px; color: #51cbce">people</i>
    <div class="card-body">
      <h5 class="card-title">Lista de clientes</h5>
    </div>
  </div>
</div>
</div>

<div class="box3">
<div class="row">
  <div class="card" style="width: 15rem; text-align: center; color:#666666">
    <i class="material-icons" style="font-size: 25px; color: #51cbce">people</i>
    <div class="card-body">
      <h5 class="card-title">Clientes potenciales</h5>
    </div>
  </div>
</div>
</div>

<div class="box4">
<div class="row">
  <div class="card" style="width: 15rem; text-align: center; color:#666666">
    <i class="material-icons" style="font-size: 25px; position: center; color: #51cbce">&#36;</i>
    <div class="card-body">
      <h5 class="card-title">Pagos de clientes</h5>
    </div>
  </div>
</div>
</div>

<div class="box5">
<div class="row">
  <div class="card" style="width: 15rem; text-align: center; color:#666666">
    <i class="material-icons" style="font-size: 25px; position: center; color: #51cbce">&#9993;</i>
    <div class="card-body">
      <h5 class="card-title">Registro de pagos</h5>
    </div>
  </div>
</div>
</div>

<div class="box6">
<div class="row">
  <div class="card" style="width: 15rem; text-align: center; color:#666666">
    <i class="material-icons" style="font-size: 25px; color: #51cbce">&#9881;</i>
    <div class="card-body">
      <h5 class="card-title">Instalación</h5>
    </div>
  </div>
</div>
</div>

{{outlet}}
