
<div class="box1">
<div class="row">
  <div class="card" style="width: 15rem; text-align: center; color:#666666">
    <i class="material-icons" style="font-size: 25px; color: #51cbce">bar_chart</i>
    <div class="card-body">
      <h5 class="card-title">Crear cliente</h5>
    </div>
  </div>
</div>
</div>

<div class="box2">
<div class="row">
  <div class="card" style="width: 15rem; text-align: center; color:#666666">
    <i class="material-icons" style="font-size: 25px; color: #51cbce">bar_chart</i>
    <div class="card-body">
      <h5 class="card-title">Lista de clientes</h5>
    </div>
  </div>
</div>
</div>

<div class="box3">
<div class="row">
  <div class="card" style="width: 15rem; text-align: center; color:#666666">
    <i class="material-icons" style="font-size: 25px; color: #51cbce">bar_chart</i>
    <div class="card-body">
      <h5 class="card-title">Pago de clientes</h5>
    </div>
  </div>
</div>
</div>

<div class="box4">
<div class="row">
  <div class="card" style="width: 15rem; text-align: center; color:#666666">
    <i class="material-icons" style="font-size: 25px; color: #51cbce">bar_chart</i>
    <div class="card-body">
      <h5 class="card-title">Clientes potenciales</h5>
    </div>
  </div>
</div>
</div>

<div class="box5">
<div class="row">
  <div class="card" style="width: 15rem; text-align: center; color:#666666">
    <i class="material-icons" style="font-size: 25px; color: #51cbce">bar_chart</i>
    <div class="card-body">
      <h5 class="card-title">Instalación</h5>
    </div>
  </div>
</div>
</div>

{{outlet}}
