<div class="row container-header">
	<img style="width: 50%; height: auto;" src="assets/LOGOMIN.png" alt="">	
</div>
	<div class="container">
	<div class="row">
		<div class="card" style="width: 20rem; text-align: center; color:#666666">
		  <i class="material-icons" style="font-size: 60px; color: #51cbce">bar_chart</i>
		  <div class="card-body">
		    <h5 class="card-title">Escalabilidad</h5>
		    <p class="card-text">Escalabilidad de nuestros servicios sobre la misma infraestructura.</p>
		  </div>
		</div>

		<div class="card" style="width: 20rem;">
		  <i class="material-icons" style="color: #fbc658">lock_open</i>
		  <div class="card-body">
		    <h5 class="card-title">Seguridad TI</h5>
		    <p class="card-text">Minimiza los riesgos de seguridad TI, reduce el costo de adquisición y alivia la carga administrativa.</p>
		  </div>
		</div>

		<div class="card" style="width: 20rem;">
		  <i class="material-icons" style="color: #f5593d">fingerprint</i>
		  <div class="card-body">
		    <h5 class="card-title">Protección</h5>
		    <p class="card-text">Servicios de enlace dedicado con gran infraestructura que asegura la conexión del servicio en un 95%.</p>
		  </div>
		</div>
	</div>
	
</div>
<div class="other-cards">
	<div class="my-wrapper">
		<div class="wrapper-header">	
			<h2>Herramientas de Red</h2>
			<p>Encuentra las mejores soluciones de Telecomunicaciones en materia de seguridad y estabilidad del servicio que tu negocio necesita.</p>
		</div>
		<div class="row"style="text-align: center;">
			<div class="center-it">
				<div class="card" style="width: 20rem; text-align: center; color:#666666">
				  <i class="material-icons" style="font-size: 60px; color: #666666">settings_input_hdmi</i>
				  <div class="card-body">
				    <h5 class="card-title">Cable Estructurado</h5>
				    <p class="card-text">Organización del cableado para llevar los servicios a los equipos ubicados en los distintos niveles de una empresa.</p>
				  </div>
				</div>

				<div class="card" style="width: 20rem;">
				  <i class="material-icons" style="color: #fbc658">photo_camera</i>
				  <div class="card-body">
				    <h5 class="card-title">CCTV</h5>
				    <p class="card-text">Sistema de vigilancia con videocámaras y equipos de control de vigilancia.</p>
				  </div>
				</div>

				<div class="card" style="width: 20rem;">
				  <i class="material-icons" style="color: #51bcda">person</i>
				  <div class="card-body">
				    <h5 class="card-title">Gestión de Red</h5>
				    <p class="card-text">Herramientas que facilitan el obtener información del servicio por cada usuario.</p>
				  </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="center-it">
				<div class="card" style="width: 20rem; text-align: center; color:#666666">
				  <i class="material-icons" style="font-size: 60px; color: #51cbce">access_time</i>
				  <div class="card-body">
				    <h5 class="card-title">Latencia Mínima</h5>
				    <p class="card-text">Menor tiempo de respuesta en la infraestructura cliente-servidor.</p>
				  </div>
				</div>

				<div class="card" style="width: 20rem;">
				  <i class="material-icons" style="color: #f5593d">favorite_border</i>
				  <div class="card-body">
				    <h5 class="card-title">Asistencia Personalizada</h5>
				    <p class="card-text">Servicio de asistencia 24 horas. Existe una respuesta inmediata para cualquier problema en el servicio.</p>
				  </div>
				</div>

				<div class="card" style="width: 20rem;">
				  <i class="material-icons" style="color: #6bd098">router</i>
				  <div class="card-body">
				    <h5 class="card-title">Marketing & Smart Wi-Fi</h5>
				    <p class="card-text">Utilice los servicios de red como herramienta de marketing y tome decisiones inteligentes para su negocio.</p>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="services">
	<div class="my-wrapper">
		<div class="wrapper-header">	
			<h2>Nuestros servicios</h2>
			<p></p>
		</div>
		<div class="row"style="text-align: center;">
			<div class="center-it">
				<div class="card blue-card" style="width: 20rem;">
				  <img src="assets/hogar3.jpg" alt="">
				  <div class="card-body">
				  	<h6>TELECOMUNICACIONES</h6>
				    <h5 class="card-title">Internet</h5>
				    <p class="card-text">Conoce nuestros servicios de internet y elige las mejores velocidades para tu hogar o tu negocio de acuerdo a tus necesidades al mejor precio.</p>
				  </div>
				</div>
			<div class="card blue-card" style="width: 20rem;">
				  <img src="assets/servicios3.jpg" alt="">
				  <div class="card-body">
				  	<h6>EMPRESA</h6>
				    <h5 class="card-title">TI para empresas</h5>
				    <p class="card-text">Utiliza las tecnologías de información para mejorar el desempeño de tu empresa, creamos estrategías tecnológicas para mejorar los procesos productivos de nuestros clientes.</p>
				  </div>
				</div>
			<div class="card blue-card" style="width: 20rem;">
					<img src="assets/servicios4.jpg" alt="">				  
				<div class="card-body">
				  	<h6>GOBIERNO TI</h6>
				    <h5 class="card-title">Soluciones gubernamentales</h5>
				    <p class="card-text">Acceso a la banda ancha en todas las áreas de un ayuntamiento y comunidades de un municipio, instituciones educativas, de salud y espacios públicos creando una red unificada y compartida.</p>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="footer-i">
	
</div>


	


